*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background: #22567c;
	background-size: 100%;
}
.logo{
	width: 200px;
}
h2.a{
	color: white;
	margin-left: 220px;
	margin-top: -160px;
}
.btn1{
	margin-left: 1000px;
	height: 50px;
	width: 200px;
	background: rgb(199, 199, 47);
	border-radius: 25px;
}
.btn2{
	margin-left: 1000px;
	height: 50px;
	width: 200px;
	background: rgb(180, 147, 78);
	border-radius: 25px;
}
.btn1 a,
.btn2 a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.btn1 :hover,
.btn2 :hover{
	color: rgb(217, 227, 235);
}
.srch{
	width: 200px;
	height: 40px;
	border: 1px solid #151599;
	margin-top: 13px;
	color: black;
	border-right: none;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
}
.btn{
	width: 100px;
	height: 40px;
	background: rgb(180, 147, 78);
	border: 2px solid #2a2a69;
	margin-top: 13px;
	color: white;
	font-size: 15px;
	border-bottom-right-radius: 5px;  
	cursor: pointer;
}
.btn:focus{
	outline: none;
}
.srch:focus{
	outline: none;
}
.menu-bar{
	margin-top: 20px;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	margin-left: 200px;
}
.menu-bar ul li{
	width: 120px;
	margin: 10px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
}
.menu-bar .fa{
	margin-right: 10px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 20px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 150px;
	padding: 10px;
	background: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: rgb(226, 152, 68);
}
h4{
    text-align: center;
    color: #c7c72f;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
	padding: 10px;
    background: #356074;
	border-radius: 10px;
}
.abt{
    display: grid;
    grid-template-columns: 1fr 1fr;
	margin: 20px;
}
.mis,.vis{
    border: 2px solid black;
    border-radius: 20px;
    background: #356074;
    margin: 2px;
}
h1{
    text-align: center;
	color: aqua;
    padding: 20px;
	margin-top: -100px;
	border-bottom: 2px solid black;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10,.p11,.p12,.p13,.p14{
	font-size: 18px;
    padding: 15px;
    color: #f5f6f2;
    word-spacing: 3px;
}
.img1{
	width: 110px;
    margin-bottom: 10px;
	margin-left: 50px;
}
.img2{
	width: 80px;
    margin-bottom: 10px;
	margin-left: 50px;
}
.img3{
	width: 96%;
	height: 500px;
	margin: 20px;
}

/*footer code*/
.container {
	max-width: 100%;
	margin:auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}
.footer{
	padding: 10px ;
	background: #25464d;
	margin: 30px;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h3{
	font-size:18px;
	color:whitesmoke;
	margin-bottom:30px;
	position:relative;
}
	
.footer-col ul li {
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	display: block;
	color: whitesmoke;
	transition:all 0.3s ease;
}
.footer-col ul li a:hover{
	color:whitesmoke;
	padding-left: 8px;
}
.footer-col .social a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin: 0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	transition: all 0.5s ease;
}
	
.footer-col {
	width: 30%;
	margin-bottom: 30px;
	text-align: center;
}
.p15{
	color: whitesmoke;
}